<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kayac.lobi.sdk.chat"
    android:versionCode="2"
    android:versionName="5.2.1" >

    <application>
        <activity
            android:name="com.kayac.lobi.sdk.chat.activity.ChatGroupInfoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.kayac.lobi.sdk.chat.activity.group.GroupListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.kayac.lobi.sdk.chat.activity.community.CommunityActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.kayac.lobi.sdk.chat.activity.community.SearchCommunityActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.kayac.lobi.sdk.chat.activity.ChatActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.kayac.lobi.sdk.chat.activity.ChatReplyActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.kayac.lobi.sdk.chat.activity.ChatEditActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.kayac.lobi.sdk.chat.activity.ChatGroupInfoSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.kayac.lobi.sdk.chat.activity.ChatMemberActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
